<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{area_name}} Walkthrough Items</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        /* Your styles here */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        h1, h2 {
            margin-bottom: 20px;
        }
        table {
            margin: 20px auto;
            width: 100%;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{area_name}} Walkthrough Items</h1>
        <div class="card">
            <table id="rooms">
                <thead>
                  <tr>
                    <th>equipment</th>
                    <th>logbooks</th>
                  </tr>
                </thead>
                <tbody id="roomData">
                </tbody>
              </table>
    </div>
</body>

<script>
    const processArea = "{{area_name}}";

    function getRooms() {
        //let rooms = $("#rooms").val();
        // let rooms = document.getElementById('content').val();
        //alert(myinput)
        // Make the POST request
       
        axios.get(`/rooms?process_area_name=${processArea}`).then(response => {
            // Handle the response
            
            console.log(response.data);
            
            
            
          });
        
    }
    getRooms();



</script>
</html>
