<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Walkthrough Submission Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
        .center {
        display: flex;
        justify-content: center;
        align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Submit Information</h1>
        <div class="card">
            <h2>Room Information</h2>
            <table>
              <thead>
                <tr>
                  <th>Room</th>
                  <th>Room Notes</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" id="room_name" placeholder="Room" size="12"></td>
                  <td><input type="text" name="room_notes" id="room_notes" placeholder="Room Notes" size="32"></td>
                  <td><input type="text" name="datetime" id="datetime"></td>
                </tr>
              </tbody>
            </table>
            <div class='row mt-2 mb-2'>
                <div class='col-sm-4'>
                </div>
                <button type="button" class='btn btn-primary col-sm-4' onclick="grabNotes()">Submit</button>
                
            </div>
            
          </div>
       
        <div class="card mb-2">
        <h2>Table 2 - Equipment Status</h2>
        <table>
            <thead>
                <tr>
                    <th>Room</th>
                    <th>ECN</th>
                    <th>Status</th>
                    <th>Expiry</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td><input type="text" id="room_name" placeholder="Room" size="12"></td>
                  <td><input type="text" name="ecn" id="ecn" placeholder="ECN" size="12"></td>
                  <td><input type="text" name="status" id="status" size="28"></td>
                  <td><input type="text" id="expiry" placeholder="expiry" size="12"></td>
                </tr>
                <!-- Add more rows for additional room status information -->
            </tbody>
        </table>
        <div class='row mt-2 mb-2'>
          <div class='col-sm-4'>
          </div>
          <button type="button" class='btn btn-primary col-sm-4' onclick="grabEquip()">Submit</button>
          
      </div>
        </div>
       
        <div class="card mb-2">
        <h2>Table 3 - Logbook Information</h2>
        <table>
            <thead>
              <tr>
                <th>Room</th>
                <th>Log ID</th>
                <th>Notes</th>
                <th>Due</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" name="room3" placeholder="Room" size="12"></td>
                <td><input type="text" name="log_id" placeholder="Log ID" size="12"></td>
                <td><input type="text" name="log_notes" placeholder="Log Notes" size="28"></td>
                <td><input type="date" name="due"></td>
              </tr>
              <!-- Add more rows for additional logbook information -->
            </tbody>
          </table>
          <div class='row mt-2 mb-2'>
            <div class='col-sm-4'>
            </div>
            <button type="button" class='btn btn-primary col-sm-4' onclick="grabNotes()">Submit</button>
            
        </div>
         
        </div>
       
    </div>
 <!-- return to homepage -->
    <div class="center">
        <div class="card">
            <a href="/home">Go back to homepage.</a>
        </div>
    </div>


    <script>
        function grabNotes() {
            let room_name = $("#room_name").val();
            let room_notes = $("#room_notes").val();
            let datetime = $("#datetime").val();
          
            let myinput = `room_name=${room_name}&room_notes=${room_notes}&datetime=${datetime}`;
          
            // Make the POST request
            axios.post(`/roominfo?${myinput}`)
            .then(response => {
                // Handle the response
                console.log('Response:', response.data);
                console.log('Post Successful');
                alert("Data Submitted")
              })
              .catch(error => {
                // Handle the error
                console.error('Error:', error);
              });
          }

        function grabEquip() {
          let room_name = $("#room_name").val();
          let ecn = $("#ecn").val();
          let status = $("#status").val();
          let expiry = $("#expiry").val();

          let myinput = `room_name=${room_name}&ecn=${ecn}&status=${status}&expiry=${expiry}`;

          axios.post(`/equipinfo?${myinput}`)
          .then(response => {
            // Handle the response
            console.log('Response:', response.data);
            console.log('Post Successful');
            alert("Data Submitted")
          })
          .catch(error => {
            // Handle the error
            console.error('Error:', error);
          });
        }
      </script>
</body>
</html>



